name: CD-to-DockerHub
on:
  push:
    branches: [ main ]

jobs:
  docker-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build and push image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/python-app:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/python-app:latest
