name: Run tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Create timestamp
        run:  echo "TS=$(date +%Y-%m-%d-%H-%M-%S)" >> $GITHUB_ENV
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          export PYTHONPATH=.
          pytest . -vv
      - name: Build Docker image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/lab6-fastapi
          docker build -t $IMAGE:latest .

      - name: Tag with date
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/lab6-fastapi
          docker tag $IMAGE:latest $IMAGE:${{ env.TS }}
      - name: Push images to Docker Hub
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/lab6-fastapi
          docker push $IMAGE:latest $IMAGE:${{ env.TS }}
